[Desktop Entry]
Type=Application
Name=Z13GUI+
Comment=Z13GUI+ GTK4 overlay drawer for z13ctl
Exec=z13gui
Categories=Utility;System;
Keywords=rog;asus;z13;lighting;
